/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


 .notice {
  display: none !important;
}

tr.hide {
    display: none !important;
}
.limit-api-label{
  font-size:12px;
}

.limit-api-value{
  font-size:12px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #F6F6F6;
}


/* SPAM LOG POPUP - Start */



/* Modal background */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%; 
  max-width:450px;
  border-radius: 20px;
  border: 3px solid #F48722;
  
}

.modal-content-inner {
  padding:20px;
}

.modal-content pre{
  display: inline;
  background-color:#ddd;
  text-wrap:wrap;
}

.modal-content #confirmation-message, .modal-content #filter-type{
  font-size:18px;
}

/* Close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.del-spam-button, .del-filter-button {
  padding: 8px 15px;
  font-size:12px;
  letter-spacing: 1px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family:'Montserrat', 'Open Sans', sans-serif;
  text-transform:uppercase;
  transition:0.3s;
}

.del-spam-button:hover, .del-filter-button:hover{
  background-color:#374945;
  color:#FFF;
  border-color:#374945 ;
}

.del-spam-button-primary, .del-filter-button-primary {
  background-color: #F48722;
  color: white;
  border:solid 1px #F48722;
}
.del-spam-button-secondary, .del-filter-button-secondary {
  background-color: #FFF;
  color: #F48722;
  border:solid 1px #F48722;
}

/* Checkbox container styles */
.checkbox-container {
  padding:20px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: flex-start; 
  background-color:#eee;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top:5px;
  vertical-align: top; 
}

.checkbox-container label {
  display: inline-block;
  vertical-align: top; 
}

/* SPAM LOG POPUP - End */

/**--SPAM LOG TABLE - START --**/

.spam-log-button-wrapper{
  display:flex;
  gap:15px;
}

.spam-option-wrap span{
  color:#F48722;
  cursor:pointer;
}

.spam-option-wrap span.not-a-spam-button, .spam-option-wrap .spam-delete-button{
  color:red;
}

.spam-option-wrap{
    font-size: 14px;
  visibility: hidden;
  display:flex;
  justify-content: flex-start;
  gap:5px;
}


.maspik-accordion-header:hover .spam-option-wrap{
  visibility: visible;
}


 .maspik-log-table td.column-value.column-entries{
  padding:0;
}

.detail-show:after{
  font-size:14px;
  color:#F48722;
  content:"More Details";
  display:block;
}
.detail-show:hover{
  cursor:pointer;
}

.detail-show:hover:after, .spam-option-wrap span:hover{
  color:#888;
}

.active.detail-show:after{
  content:"Hide Details";
  color:#888;
}

.active.detail-show:hover:after{
  color:#F48722;
}

.spam-value-text{
  display:flex;
  flex-direction: column;
}

.maspik-log-table .maspik-accordion-content{
  width:100%;
  padding: 0;
  transition: all 0.3s ease;
}

.column-value .maspik-accordion-header{
 cursor:default; 
 display:flex;
 flex-direction:column;
 gap:3px;
}

 .column-value{
  display:table-cell;
}

.column-value .maspik-accordion-item{
  margin:0;
}

.column-value .maspik-accordion-item, .column-value .maspik-accordion-item .maspik-accordion-header, .column-value .maspik-accordion-item .maspik-accordion-content{
  background:none;
}

.column-value .maspik-accordion-item .maspik-accordion-content pre{
  margin: 0;
  max-width:50vw;
  text-wrap: wrap;
  padding: 10px;

}

.maspik-accordion-item.expanded .log-detail.maspik-accordion-content {
  box-sizing: border-box;
  overflow: auto;
  direction: ltr;
  text-align: left;
}

.maspik-log-table{
  width: 100%;
  font-size:16px;
}


.maspik-log-table .span-alt-text{
  font-size:14px!important;
  margin-top:4px;
  color:#888;
  display: none;
}
.maspik-log-table th, .maspik-log-table td{
  padding:18px 20px;
  vertical-align: top;

}


.maspik-log-table td.column-button, .maspik-log-table th.column-not-spam{
  padding:18px 10px;
  vertical-align: top;
  background-color:rgba(255,255,255,0)!important;
}

.maspik-log-table td.column-button button{
  background-color: #F48722;
  color:#FFF;
  font-family:'Montserrat', 'Open Sans', sans-serif;
  line-height:1.1em;
  border:none;
  border-radius: 50px;
  padding: 8px;
  font-size:14px;
  transition:0.3s;
}


.maspik-log-table td.column-button button:hover{
  background-color: #374945;
}


.maspik-log-table th{
  background-color:#F48722;
  color:#FFF;
  border-radius:3px;
}

.maspik-log-table tr.row-odd td{
  background-color:#F6F6F6;
  border-radius:3px;
}

.maspik-log-table tr.row-even td{
  background-color:#FAFAFA;
  border-radius:3px;
}

.maspik-log-table tr.not-a-spam td{
  background-color:#fdf6d0;
  border-radius:3px;
}

.maspik-log-table .row-entries .column-entries.column-value{
  text-align: left;
}

.maspik-log-table .row-entries .column-entries{
  text-align: center;
}

.log-detail th,.log-detail td {
  padding: 5px;
  border: 0;
}

.log-detail.maspik-accordion-content table {
  background: #dddddd;
  border: 0;
  width: 100%;
}

/**--SPAM LOG TABLE - END --**/
/**--GENERAL STYLE - START --**/
.main-spam-check.togglewrap.maspik-main-check--wrap {
    background: #fff;
    padding: 50px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.maspik-save-message-wrap:empty {
  display: none;
}
 
.maspik-test-form input, .maspik-test-form textarea, .maspik-accordion-content-wrap input, .maspik-accordion-content-wrap textarea{
  background-color:#E9E9E9;
  border:none;
  width:100%;
  border-radius: 10px;
}

.main-spam-check h4 {
    margin: 0;
}

#frmContact input.maspik-btn, .maspik-accordion-content-wrap #submit, .copy.maspik-btn, .log-reset.maspik-btn, .maspik-update-db #submit,#exp-imp-settings .export-import-btn{
    color:#FFF;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: Uppercase;
    background-color: #F48722;
    cursor: pointer;
    border-radius: 100px;
    height:auto;
    transition: 0.3s;
    border:none;
}

input.export-import-btn {
    padding: 5px 20px !important;
}

.maspik-btn:hover,.log-reset.maspik-btn:hover, .maspik-accordion-content-wrap #submit:hover{
    color:#fff;
    transition: 0.3s;
    background-color: #374945!important;
}
h4.maspik-header{
    font-size:20px;
    font-weight: 700;
}

h3.maspik-header{
    font-size:24px;
    font-weight: 700;
    margin: 0;
}

h2.maspik-header{
    font-size:28px;
    font-weight: 700;
}
h1.maspik-main-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #f48623;
}
p.up-line {
  margin: 0;
  font-size: 19px;
  color: #f48623;
  font-weight: 500;
}
/**--Toggle style - START --**/

.togglebox {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: -10px;
    border-inline-start: solid 2px #F48722;
    border-image: linear-gradient(to top, #FFF, #F48722 ) 1;
    padding-inline-start: 15px;
    margin-inline-start: 15px;
}

/* Style to show the div */
.togglebox.showontoggle {
  max-height: 1000px; 
  transition: max-height 0.3s ease-in;
}


.maspik-toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  min-width:35px;
  height: 20px;
}

.maspik-toggle input {
  display: none;
}

.maspik-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.maspik-toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3.2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .maspik-toggle-slider {
  background-color: #F48722;
}

input:checked + .maspik-toggle-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.maspik-numbox-wrap input[type=number]{
  width:90px;
  margin-bottom:0;
}
.togglebox .maspik-numbox-wrap{
  margin-top:-5px;
}

.maspik-numbox-wrap label{
  font-size:16px;
  text-wrap:nowrap;
  margin-top:5px;
  margin-right:5px;
}

.maspik-subtext{
  font-size:12px;
  padding-left: 13px;
}

.maspik-update-db form, .maspik-update-db-result {
    display: flex;
    width: 100%;
    max-width: 1080px;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    padding: 10px 20px;
    border: solid 1px #c3c4c7;
    border-radius: 3px;
    border-inline-start: solid 4px #9E5942;
    justify-content: start;
}

@media only screen and (max-width: 900px) {
  .maspik-update-db form, .maspik-update-db-result {
    flex-wrap:wrap;
    width: 85%;
  }


  .maspik-update-db .submit{
    padding:3px;
    margin-inline-start: 0px!important;
  }

}

.accordion-disable .maspik-accordion{
  background:rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius:10px;
  transition: 0.3s;
}

.accordion-disable .maspik-accordion .maspik-accordion-item{
  opacity: 0.6;
  pointer-events: none;
}
.maspik-database-update-overlay{
  display: none;
}

.spam-empty-log{
  display:flex;
  justify-content: center;
  background-color:#475351;
  color:#FFF;
  border-radius: 5px;
  width:80%;
  max-width: 400px;;
  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  height:80px;
  z-index:999;
  opacity: 0.6;
  transition: 0.3s;

}


.maspik-blacklist-options.accordion-disable .maspik-accordion .maspik-database-update-overlay{
  display:flex;
  justify-content: center;
  background-color:#475351;
  color:#FFF;
  border-radius: 5px;
  position:absolute;
  width:80%;
  max-width: 400px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  height:80px;
  z-index:999;
  opacity: 0.6;
  transition: 0.3s;
}

.maspik-blacklist-options.accordion-disable .maspik-accordion:hover .maspik-database-update-overlay, .spam-empty-log:hover{
  opacity: 1;
  transition: 0.3s;
}

.accordion-disable .maspik-database-update-overlay h4, .spam-empty-log h4{
  font-size:20px;
}

.maspik-form-update-db .db-update-text h3{
  font-size: 18px;
  margin:5px;
  font-weight: 400;
  line-height:1.2;
}


.maspik-form-update-db .db-update-text span{
font-size:14px;
padding-left:8px;
}

.maspik-update-db-result, .save-notice{
  max-width: 900px;
  width:100%;
  text-align:left;

}

.maspik-update-db .submit{
  padding:3px;
  margin-inline-start: 20px;
}


.maspik-update-db input#submit{
  font-size: 14px;
  letter-spacing: 2px;
}


.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap{
  width:45%;
  padding: 10px;
  margin:5px 0;
  flex-wrap:nowrap;
}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap .wp-reg {
  display:flex;
  flex-wrap:nowrap;
  justify-content: flex-start;
  opacity:1!important;
}

 .forms-pro-block.maspik-pro{
  background-color:#FAFAFA;
  padding:3px;
  border-radius: 10px;
}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap.disabled:has(.wp-reg) {
  opacity:1;
  background-color: #F3F3F3;

}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap.disabled:has(.wp-reg) .maspik-toggle, .maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap.disabled:has(.wp-reg) h4{
  opacity:0.7;
}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap .wp-reg .maspik-tooltip{
  margin-left:10px;
  pointer-events: auto!important;
  z-index: 99;
  opacity: 1!important;
}

@media only screen and (max-width: 1180px) {
  .maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap{
    width:100%!important;
  }
  
}


.maspik-accordion-form-option-field div.maspik-accordion-content-wrap, .maspik-accordion-form-option-field  div.maspik-pro, .maspik-accordion-form-option-field  div.maspik-not-pro{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.maspik-accordion-form-option-field  div.maspik-not-pro, .maspik-form-switch-wrap.disabled{
  opacity: 0.7;
  pointer-events: none;
  background-color:#eee;
  padding: 10px;
  border-radius:10px;
}


div.pro-btn-wrapper.maspik-pro{
  display:none;
}

div.pro-btn-wrapper.maspik-not-pro{
    opacity: 1; 
    display:flex;
    pointer-events: auto;
    background-color: #fff;
    padding-bottom:0;
    margin-top:30px;
    margin-bottom:15px;
}

.maspik-accordion-form-option-field .maspik-accordion-content .submit,  .pro-btn-wrapper{
  width:100%;
}



/**--Toggle style - END --**/


/* Custom Scroll */

.maspik-custom-scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.maspik-custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.maspik-custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.maspik-custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scroll - END */

.maspik-simple-divider{
  width:90%;
  display:flex;
  margin:35px 20px;
  height:1px;
  background:#F48722;
  align-self:center;
}

.add-space-top{
  margin-top:20px;
}

/**--GENERAL STYLE - END --**/


.maspik-more-setting{
  padding-top:30px;
  text-transform: capitalize;
}
.maspik-blacklist-options a{
    color: #F48722;
    text-decoration: none;
}

.maspik-blacklist-options a:hover{
    color: #404040;
}

.maspik-save-message-wrap{
  padding-inline-end:20px;
  margin-bottom:20px;
}
.maspik-save-message{
  padding:10px;
  font-size:18px;
  text-align: center;
  width:100%;
  max-width: 100%;
  color:#FFF;
}

.maspik-save-message.success{
  background-color: #F48722;
}

.maspik-save-message.error{
  background-color: #9E5942;
}



.maspik-settings{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.notice-pointer h2{
  position:absolute;
}

/**--- HEAD - START ---**/

.maspik-setting-head-wrap{
  width:100%;
  max-width:1400px;
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}
.maspik-setting-header{
    display:flex;
    flex-direction:column-reverse;
    padding-bottom: 40px;
}
.maspik-setting-header-wrap{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
h1.maspik-title{
    color:#F48722;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    font-weight:900!important;
    font-size:40px;
}
h1.maspik-title {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 2844 854'%3E%3Cdefs%3E%3C/defs%3E%3Crect x='29.5' y='24.5' width='802' height='805' rx='136.54' ry='136.54' style='&%2310; fill: %23f48722;&%2310;'/%3E%3Cpath d='M697.8,687.25h-143.34l-10.19-231.45-4.27-92.38c-1.54,17.75-3.29,34.68-5.26,50.79-1.97,16.11-4.39,31.72-7.23,46.85l-43.07,226.19h-111.78l-36.82-226.52c-2.19-13.15-5.15-35.72-8.88-67.72-.44-4.82-1.43-14.68-2.96-29.59l-3.29,93.7-12.16,230.13h-145.97l59.18-507.61h170.63l28.6,170.96c2.41,14.03,4.55,29.26,6.41,45.7,1.86,16.44,3.56,34.3,5.1,53.59,2.85-32.22,6.79-61.04,11.84-86.46l34.85-183.78h169.31l49.31,507.61Z' style='fill: %23fff;'/%3E%3Cg%3E%3Cpath d='M1357.77,621.99h-108.68l-7.73-175.48-3.24-70.04c-1.17,13.46-2.49,26.3-3.99,38.51-1.5,12.21-3.33,24.05-5.48,35.52l-32.65,171.5h-84.75l-27.92-171.75c-1.67-9.97-3.91-27.08-6.73-51.35-.34-3.65-1.08-11.13-2.24-22.43l-2.49,71.04-9.22,174.49h-110.68l44.87-384.87h129.37l21.69,129.62c1.82,10.64,3.44,22.18,4.86,34.65,1.41,12.46,2.7,26.01,3.86,40.63,2.16-24.43,5.15-46.28,8.97-65.56l26.42-139.34h128.37l37.39,384.87Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3Cpath d='M1681.07,621.99h-107.44l-7.73-48.86h-70.04l-8.48,48.86h-107.44l92.48-384.87h127.13l81.51,384.87ZM1553.69,490.63l-6.73-44.87c-.17-.16-.5-2.41-1-6.73-.34-3.65-2.08-18.11-5.23-43.37-.34-2.82-.75-6.69-1.25-11.59-.5-4.9-1.17-11.09-1.99-18.57l-3.24-36.39c-.34,3.49-.79,7.4-1.37,11.72-.59,4.32-1.21,9.06-1.87,14.21-1.17,10.31-1.99,17.45-2.49,21.44s-.83,6.4-1,7.23l-7.23,46.61-10.47,60.32h43.87Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3Cpath d='M1703,612.52v-120.89c20.44,27.92,42.54,41.88,66.31,41.88,8.97,0,16.28-2.37,21.94-7.1,5.65-4.74,8.48-10.68,8.48-17.82,0-10.3-6.15-20.35-18.45-30.16l-16.95-13.21c-11.3-8.48-20.94-16.91-28.92-25.3-7.98-8.39-14.46-17.03-19.44-25.92-4.99-8.89-8.64-18.07-10.97-27.54-2.33-9.47-3.49-19.44-3.49-29.91,0-17.95,4.15-36.72,12.46-56.33,4.15-9.14,8.97-17.49,14.46-25.05,5.48-7.56,11.8-14.25,18.94-20.07,19.61-16.61,43.29-24.93,71.04-24.93,24.76,0,49.68,6.57,74.78,19.69v117.66c-8.48-13.12-18.12-23.47-28.92-31.03-10.81-7.56-21.44-11.34-31.91-11.34-7.98,0-14.54,2.33-19.69,6.98-5.32,4.49-7.98,9.89-7.98,16.2,0,10.31,7.06,20.53,21.19,30.66l16.45,12.21c21.94,15.79,37.64,31.99,47.11,48.61,9.63,16.62,14.46,36.06,14.46,58.33,0,37.89-11.55,69.13-34.65,93.72-23.1,24.6-52.35,36.89-87.74,36.89-24.43,0-50.6-5.4-78.52-16.2Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3Cpath d='M2048.49,621.99h-103.95V237.12h100.7c50.19,0,87.41,10.22,111.68,30.66,28.58,24.1,42.87,57.58,42.87,100.46,0,46.7-15.21,81.51-45.62,104.44-20.78,15.45-50.6,23.18-89.49,23.18h-16.21v126.13ZM2048.49,409.37l4.74.25c12.62,0,22.68-3.86,30.16-11.59,7.48-7.73,11.22-18.32,11.22-31.78s-3.66-24.09-10.97-32.41c-7.32-8.48-16.62-12.71-27.92-12.71h-7.23v88.24Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3Cpath d='M2340.14,621.99h-103.95V237.12h103.95v384.87Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3Cpath d='M2676.4,621.99h-112.17l-69.05-177.48,2.74,177.48h-103.95V237.12h103.95l-2.74,165.02,61.32-165.02h109.68l-83.01,185.71,93.23,199.16Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3Cpath d='M2814.5,570.64c0,15.62-5.73,29-17.2,40.13-11.13,11.14-24.77,16.7-40.88,16.7s-29.83-5.65-41.63-16.95c-11.47-11.47-17.2-25.34-17.2-41.63s5.64-29.57,16.95-40.88c11.3-11.3,24.93-16.95,40.88-16.95s30.41,5.82,41.88,17.45c11.47,11.47,17.2,25.51,17.2,42.12Z' style='&%2310; fill: %23f48623;&%2310;'/%3E%3C/g%3E%3C/svg%3E");
      color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      height: 55px;
      margin-bottom: 10px;
  }

h3.maspik-protag{
    background-color:#F48722;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    text-transform: Uppercase;
    height:14px;
    line-height: 1em;
    border-radius:50px;
    font-size:14px;
    color:#FFF;
    font-weight:700;
    padding:5px 12px;
    display:flex;
    letter-spacing:1px;
    margin-top:20px;
}

h3.maspik-protag.maspik-not-pro{
  display: none;
}

.maspik-tooltip .dashicons-info:before{
  font-size:24px;
  color: #FFBBA6;
}

.maspik-tooltip .dashicons-info{
  margin-top:-3px;
}


.maspik-tooltip {
  position: relative;
  display: inline-block;
}

.maspik-tooltip .maspik-tooltiptxt {
  visibility: hidden;
  width: 330px;
  background-color: #404040;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  padding:8px;
}

.maspik-tooltip .maspik-tooltiptxt::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #404040 transparent transparent;
}
.maspik-tooltip:hover>.maspik-tooltiptxt {
  visibility: visible;

}

.maspik-tooltip:hover{
  cursor:pointer;
}
.rtl .maspik-setting-header-wrap {
  flex-direction: row-reverse;
}

.rtl .maspik-setting-header {
  align-self: end;
  padding-bottom: 0;
}

/** Affected forms **/

.maspik-aform{
    margin-top:20px;
    margin-bottom:28px;
    font-size:16px;
    display:flex;
    align-items: flex-start;
    gap:15px;
}
.mpk-form-list-lbl{
  margin-top:5px;
}

.maspik-aform ul.supportforms {
    display:flex;
    margin:0;
    gap:inherit;
    flex-wrap: wrap;
}


.maspik-aform ul.supportforms li, .maspik-api-status{
    margin:0;
    background-color:#F48722;
    color: #fff;
    padding: 5px 10px;
    border-radius:50px;
    font-size:12px;
    font-weight: 300;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    cursor: pointer;
}

.maspik-aform ul.supportforms li.disabled{
  margin:0;
  background-color:#374945!important;
  color:#FFF;
  padding: 5px 10px;
  border-radius:50px;
  font-size:12px;
  font-weight: 300;
  font-family:'Montserrat', 'Open Sans', sans-serif;
}

.not-connected{
  background:#374945!important;
}

/**--- HEAD - END ---**/
/**--- BODY - START ---**/

.maspik-setting-body{
    display: flex;
    gap:30px;
    max-width:1400px;
    width:95%;
    align-self: center;
    flex-wrap: nowrap;
}

/**--- BLACKLIST OPTIONS - START ---**/

.maspik-blacklist-options{
    width:55%;
    position: relative;
}

.maspik-blacklist-head{
    margin-top:10px;
    margin-bottom:30px;
}
.maspik-blacklist-head>h2{
    margin:0;
}

.maspik-blacklist-head p , .maspik-spam-head p{
    font-size: 16px;
    margin-left:20px;
}
.maspik-section-head p {
  font-size: 16px;
}



/** Accordion **/

  .maspik-main-check--wrap.maspik-accordion-content-wrap .submit {
    margin-left: auto;
    margin-top: 0;
  }
  h2.maspik-title {
    margin-top: 0;
    font-size: 25px;
  }
  .maspik-accordion {
      margin: 0 auto;
  }

  .maspik-accordion-item{
    margin-bottom:20px;
    border-radius: 10px;
  }


  /* top of textarea - I and ex - wrap*/
  .maspik-accordion .maspik-setting-info{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }

  .maspik-accordion-item .maspik-accordion-header .maspik-tooltip{
    opacity:0;
    pointer-events: none;
    transition: 0.3s;
  }
  .maspik-accordion-item.has-high-tooltip .mpk-acc-header-texts{
    flex-direction:row;
  }

  .maspik-accordion-item .maspik-accordion-header.active .maspik-tooltip{
    opacity:1;
    transition: 0.3s;
    pointer-events: auto;
  }



  /* pop up button - start */
  .maspik-small-btn-wrap, .maspik-status-wrap{
    display: flex;
    gap:10px;
    align-items: center;

  }

  .maspik-small-btn{
    margin:10px 0;
  }


  .maspik-small-btn>a{
    color:#fff;
    background-color: #014921;
    border-radius: 10px;
    display:inline;
    align-self: flex-end;
    width:auto;
    text-decoration: none;
    padding:5px 12px 5px 10px;
    font-size:12px;
    align-content:center;
  }

  .maspik-small-btn>a .dashicons {
    width:auto;
    height:18px;
    padding-inline-end:3px;
  }

    .maspik-small-btn>a:hover{
    color:#fff;
    background-color: #475351;
    }
  
  .maspik-small-btn .dashicons{
    font-size:14px;
    vertical-align: middle;
  }

  /* example button - end */

  .maspik-accordion-item:last-child {
    border-bottom: none;
  }
  .maspik-accordion-header {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    padding:18px 30px;
  }
  .maspik-accordion-header.active {
    border-radius:10px 10px 0 0;
  }


  h4.maspik-accordion-header-text{
    margin:0;
    text-transform: capitalize;
  }

  .maspik-accordion-subheader{
    font-size:16px;
  }

  .mpk-acc-header-texts{
    display:flex;
    gap:inherit;
  }

  .active .mpk-acc-header-texts{
    flex-direction: column;
  }

  .maspik-accordion-header .dashicons-arrow-right{
    color:#F48722;
    font-size:28px;
    transition: 0.3s;
    margin: -4px;
  }

  .active .dashicons-arrow-right{
    rotate:90deg;
    transform-origin: 50% 50%;
    transition: 0.3s;
  }

  .maspik-accordion-content {  
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #FFF!important;
    border-radius: 0 0 10px 10px;
  }


  .maspik-accordion-content .maspik-accordion-content-wrap {
    padding:  0 40px 30px 40px;
    display:flex;
    flex-direction:column;
    transition: max-height 0.3s ease-in;
  }

  .maspik-accordion-content-wrap textarea.maspik-textarea{
    max-width:100%;
  }

  .maspik-accordion-content-wrap textarea.maspik-textarea:focus, .maspik-numbox-wrap input:focus, .maspik-accordion-item .maspik-country-dropdown:focus, .maspik-accordion-item .maspik-country-dropdown:hover{
   box-shadow:none;
   color: #000;
  }
  
  .maspik-accordion-content .form-table>tbody tr:first-child th:first-child{
    display:none;/*Hides first section title*/
  }

  .maspik-accordion-content .hide-form-title .form-table>tbody tr{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
  }

  .maspik-form-tip{
    margin-left:13px;
  }

  .maspik-accordion-content-wrap tr{
    max-width:800px;
  }

  .maspik-accordion-content-wrap td{
    width:100%;
  }


  .maspik-accordion-content-wrap .maspik-textarea,.maspik-accordion-content-wrap input, .maspik-accordion-content-wrap input.maspik-inputbox{
    max-width:800px; 
  }

  .maspik-accordion-content-wrap .is-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }


  .maspik-accordion-content-wrap #submit, .maspik-update-db #submit, #clear_log{
    min-width: 140px;
    width:auto;
    letter-spacing: 3px;
    padding: 12px 25px;
    font-size:14px;
    line-height:1.2em;
    border:none;
  }

  .maspik-accordion-content-wrap .submit{
    display:flex;
    justify-content: flex-end;
    padding:0;
    margin:0;
    margin-top:20px;
  }


/* Accordion animation */


.maspik-accordion-item > .active + .maspik-accordion-content {
    max-height: 2200px!important;
    transition: max-height 0.3s ease-in;
  }

  .maspik-accordion-item .maspik-main-list-wrap, .maspik-accordion-subtitle-wrap{
    display:flex;
    flex-wrap:nowrap;
    gap:10px;
    
  }

  .maspik-accordion-item .maspik-select-list{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:10px;
  }
  .maspik-accordion-item .maspik-select-list .maspik-form-api-list, .maspik-accordion-item .maspik-select-list .maspik-main-list-wrap, .maspik-accordion-item {
    width:100%;
  }
.maspik-accordion-item.maspik-accordion-general-field .maspik-numbox-wrap .limit-api-wrap {
    min-width: 70px !important;
}
.maspik-api-text-wrap {
    max-width: 100%;
    overflow: hidden;
}
  .maspik-accordion-subtitle-wrap h3{
    margin:0;
  }

  .maspik-accordion-subtitle-wrap{
    margin-bottom:15px;
    align-items: center;
  }

  .maspik-accordion .text-caution{
    color:#9E5942;
    font-weight: 800;
  }

  .maspik-accordion-item .dashicons-star-filled{
    color:#F48722;
    margin-inline-end: 8px;
    margin-inline-start: -8px;
  }
  .maspik-mainpage span.dashicons.dashicons-star-empty, .maspik-get-pro-a span.dashicons.dashicons-star-empty {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z' style=' fill: %23ffffff;%0A'%3E%3C/path%3E%3C/svg%3E");    background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: transparent;
    }
    .maspik-mainpage span.dashicons.dashicons-star-filled {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z' style=' fill: %23f48623;%0A'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: transparent;
    }
    
  .maspik-not-pro.maspik-accordion-item{
    border:solid 1px #F48722;
  }

  .maspik-not-pro.maspik-accordion-item .maspik-accordion-header{
    background: #F6F6F6;
  }

  .maspik-not-pro.maspik-accordion-item .maspik-accordion-content-wrap{
    background: #F6F6F6;
  }
  .maspik-not-pro.maspik-accordion-item .maspik-accordion-content{
    opacity: 0.7;
    pointer-events: none;
  }

  .maspik-pro .maspik-small-btn.get-pro{
    display:none;
  }

  .maspik-small-btn.get-pro{
    margin:0;
    margin-inline-end: 20px;
  }
  .maspik-small-btn.get-pro a{
    background:#F48722;
    font-size:16px;
  }

  .upsell-btn{
    display:flex;
    flex-direction: row;
  }

  .upsell-btn .maspik-small-btn.get-pro a{
    background: #014921;
  }
  .upsell-btn .maspik-small-btn.get-pro a:hover{
    background: #F48722;
  }

  .maspik-small-btn.get-pro a:hover{
    background:#374945;
  }


  .maspik-pro-button-wrap{
    display:flex;
  }



  .maspik-main-list-wrap .maspik-form-api-list{
    width: 70%;
    display:flex;
    flex-direction: column;
  }

  .maspik-accordion-item .maspik-form-api-list h5.maspik-api-title{
    margin:0;
    font-size:12px;
  }

  .maspik-main-list-wrap.maspik-select-list .maspik-form-api-list .maspik-api-text{
    height:auto;
    padding:0 10px;
    gap: 5px;
    flex-wrap:wrap;
  }

 .maspik-api-text .api-entry{
    border: solid 1px #ddd;
    border-radius: 3px;
    background: #FFF;
    padding: 2px 6px;
  }

    .maspik-accordion-phone-field .help-text {
        margin-inline-end: auto;
        margin-inline-start: 20px;
    }

  .maspik-main-list-wrap.maspik-select-list .maspik-form-api-list{
    width:100%;
  }

  .maspik-main-list-wrap .maspik-form-api-list .maspik-api-text{
    font-size:12px;
    color:#475351;
    height:105px;
    overflow: auto;
    display:flex;
  }

   .maspik-form-api-list .maspik-api-text-wrap{
    background-color:#F6F6F6;
    padding: 10px;
    border-radius:10px;

  }

  .maspik-accordion-item  .maspik-country-dropdown{
    border:none;
    width: 115px;
    background-color: #E9E9E9;
    border-radius:10px;
  }

  .maspik-accordion-item  .maspik-country-dropdown option{
    padding:20px;
  }


/* Select 2 restyle */
  .maspik-main-list-wrap > .select2-container .select2-selection {
    background-color:#E9E9E9;
    border:none;
    width:100%;
    border-radius: 10px;
    padding: 8px 10px;
  }

  .maspik-main-list-wrap  .select2-container--focus .select2-selection--multiple{
    border:none!important;
  }

  .maspik-main-list-wrap .select2-search__field{
    margin-bottom:6px;
  }


  .maspik-main-list-wrap > .select2-container{
    width:100%!important;
  }

 .select2-container--default .select2-results__option--selected{
    background: #F48722!important;
    color:#FFF!important;
    transition:0.3s;
  }

  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background: #475351!important;
    transition:0.3s;
  }


  .maspik-main-list-wrap > .select2-container .select2-selection li{
    background:#FFF;

  }
.maspik-main-list-wrap .select2-container--disabled li.select2-selection__choice {
    background: #bababa !important;
}
td.column-value.column-entries {
    max-width: 500px;
}

.togglewrap span.new {
    background: #f48623;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
  /* Custom Scroll for Select 2*/
.select2-results{
  padding: 10px;
  padding-left: 0;
}

.select2-results li{
  margin: 3px 10px;
  border-radius: 20px;
  padding-left:15px;
}
.select2-results__options::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.select2-results__options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Select 2 restyle - END */

  

  /* Pop up */
.maspik-popup-wrap>h3{
  margin-top:0;
}
.maspik-popup-wrap {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding: 30px 20px; 
  border: 1px solid #ddd; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  display: none; 
  width:400px;
}

.maspik-popup-wrap.active { 
    display: block; 
    z-index: 999; 
    border: 3px solid #F48722;
}

.maspik-popup-wrap .close-popup {
    float: right; 
    cursor: pointer; 
    color: #374945;
    background-color: transparent; 
    border: none; 
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .maspik-popup-wrap .close-popup>.dashicons{
    font-size: 24px; 
  }

.maspik-popup-wrap .close-popup:hover {
  color: #F48722; 
}

.maspik-popup-wrap .data-array-here{
  overflow-y: auto;
  line-height: 1.2em;
}


#pop-up-example .data-array-here{
  height: 120px;
}

#pop-up-shortcode .data-array-here{
  height: 180px;
}


.maspik-popup-wrap .data-array-wrap{
  background-color:#F6F6F6;
  border-radius:10px;
  padding: 10px 10px;
}

table.maspik-stats-table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}
table.maspik-stats-table th{color: white;background-color: #F48722;}
table.maspik-stats-table td{
background-color: white;
}
table.maspik-stats-table td, table.maspik-stats-table th {
  border: 1px solid black;
    text-align:start;
    padding:3px;
}
.maspik-db-check--wrap .maspik-small-btn.btns {
  display: inline-block;
  margin: 0;
}
.maspik-db-check--wrap h4 {
  display: inline-block;
}
.maspik-btn.copy{
  margin-top: 15px;
  min-height:30px;
  padding: 8px 25px;
  font-size:14px;
  letter-spacing: 3px;
}

.maspik-copy-btn-wrap{
  display: flex;
  justify-content:flex-end;
}

body.rtl .maspik-tooltip .maspik-tooltiptxt::after {
  left: 110%;
  right: -9px;
  border-color: transparent  transparent  transparent #404040;
}

body.rtl span.maspik-tooltiptxt {
  left: 0;
  right: 120%;
  text-align:start
}

.togglewrap{
  display:flex;
  gap:10px;
  margin: 20px 0;
  align-items:center;
}

.togglewrap span{
  font-size:12px;
}

.togglewrap>h4, .maspik-accordion-content h4{
  margin:0;
  font-size:16px;
  font-weight:400;
  margin-bottom: 5px;
}

.togglewrap .maspik-tooltiptxt, .short-tooltip .maspik-tooltiptxt{
  width:150px;
}

.maspik-accordion-maspik-api-field .active + .maspik-accordion-content .maspik-accordion-content-wrap{
  padding-top:40px;
}

.maspik-popular-spam-wrap{
  gap:0;
  display:flex;
}

.togglewrap{
  align-items: flex-start;
  justify-content: flex-start;
}

.maspik-api-buttons-warp{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  gap:10px;
  margin-top:20px;
  margin-bottom:10px;
  flex-wrap: wrap;
}


.maspik-accordion-content-wrap #submit.maspik-btn-outline, .spam-log-button-wrapper #expand-all,.downloadform .maspik-btn{
  color:#F48722;
  font-family:'Montserrat', 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: Uppercase;
  background-color: #FFF!important;
  border-radius: 100px!important;
  height:auto!important;
  transition: 0.3s;
  border:solid 1px #F48722;
  padding: 11px 25px;
  letter-spacing: 1px;
  line-height: 1em;
}

.maspik-api-buttons-warp #submit, .maspik-api-buttons-warp .submit, .maspik-api-buttons-warp .maspik-btn-outline{
  margin:0;
}

#submit.maspik-btn-outline:hover, .spam-log-button-wrapper #expand-all:hover,.downloadform .maspik-btn:hover{
  color: #fff!important;
  background-color: #374945!important;
  transition: 0.3s;
  border-color: #374945;
}

.maspik-threshold-wrap .maspik-numbox-wrap{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.maspik-minmax-wrap{
  display:flex; 
  justify-content: flex-start;
  gap:20px;
}

.maspik-accordion-content .maspik-minmax-wrap .character-limit{
  width: 70px;
}

.maspik-numbox-wrap{
  display:flex;
  align-items:center;
}

.maspik-numbox-wrap .limit-api-wrap{
  padding-top:8px;
  padding-left: 10px;
}


.maspik-accordion-content .maspik-limit-char-box span.maspik-subtext{
  padding-left:0;
}
 
.maspik-accordion-content .maspik-limit-char-box .maspik-subtext strong{
  color:#F48722!important;
  text-transform: uppercase;
} 




/**--- BLACKLIST OPTIONS - END ---**/


/**--- TEST FORM - START ---**/

.maspik-test-form{
    width:40%;
    min-width: 350px!important;
    gap:22px;

}

.maspik-test-form-sub, .maspik-test-form>form{
    font-size:14px;
}

.maspik-test-form>form{
    padding: 50px 40px!important; 
    background-color:#014921;
    position:sticky;
    border-radius:10px;
    top:50px;
    color:white;
}

h3.maspik-test-form-head.maspik-header {
    color: #fff;
}

.maspik-test-form .input-row{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  padding-bottom:5px;
  align-items:flex-end;
}

.maspik-test-form .input-row label{
  align-self:flex-start;
}

.maspik-test-form .red.input-row input{
  border:solid 1px #9E5942;
}

.maspik-test-form-head{
    margin-bottom:20px;
    margin-top:0;
}



.maspik-test-form input, .maspik-test-form textarea{
    max-width: 550px;
}

.maspik-test-form input, .maspik-accordion-content-wrap input{
    padding:4px 10px;
}

.maspik-accordion-content-wrap textarea{
    padding:10px;
}
.maspik-test-form textarea {
  padding: 10px;
  margin-top: 5px;
}

.maspik-test-form input, .maspik-accordion-content-wrap input{
    height:35px;
    margin-top:5px;
}


.maspik-test-form .btn-submit{
    max-width: 180px;
    letter-spacing: 3px;
    padding: 12px 25px;
    margin-top:20px; 
}

.maspik-test-form .note{
    color: #ffbba6;
    font-size: 14px;
    margin-top: 1px!important;
    max-width: 95%;
    place-self: self-start;
}
.input-row.red .input-field {
    border: 1px solid red;
}

.maspik-test-form #statusMessage p{
  width:auto;
  max-width:130%;
  display:block;
  text-align: center;
  padding: 15px 15px;
  color:#FFF;
  margin:10px -40px -50px -40px;
  border-radius: 0 0 10px 10px;

}
.maspik-test-form .successMessage{
  background-color:#429E55;
}

.maspik-test-form .loadingMessage{
  background-color:#374945;
}

.maspik-test-form .ErrorMessage{
    background-color:#9E5942;
}

/**--- TEST FORM - END ---**/

.maspik-footer a {
    text-decoration: underline;
}
footer.maspik-footer {
  background: #f48623;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
}

footer.maspik-footer * {
  color: #fff;
}
footer.maspik-footer h3 {
  font-size: 23px;
  text-transform: uppercase;
}
footer.maspik-footer h4 {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .maspik-setting-body {
    flex-wrap:wrap;
    justify-content: center;
  }

  .maspik-blacklist-options{
    width:100%;
  }

  .maspik-test-form{
    width:100%;
    max-width:550px;
  }


}
