/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


 .notice,.nf-admin-notice,.notice-pointer,#ehp-admin-cb {
  display: none !important;
}

tr.hide {
    display: none !important;
}
.limit-api-label{
  font-size:12px;
}

.limit-api-value{
  font-size:12px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #F6F6F6;
}


/* SPAM LOG POPUP - Start */



/* Modal background */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%; 
  max-width:450px;
  border-radius: 20px;
  border: 3px solid #F48722;
  
}

.modal-content-inner {
  padding:20px;
}

.modal-content pre{
  display: inline;
  background-color:#ddd;
  text-wrap:wrap;
}

.modal-content #confirmation-message, .modal-content #filter-type{
  font-size:18px;
}

/* Close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.del-spam-button, .del-filter-button {
  padding: 8px 15px;
  font-size:12px;
  letter-spacing: 1px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family:'Montserrat', 'Open Sans', sans-serif;
  text-transform:uppercase;
  transition:0.3s;
}

.del-spam-button:hover, .del-filter-button:hover{
  background-color:#374945;
  color:#FFF;
  border-color:#374945 ;
}

.del-spam-button-primary, .del-filter-button-primary {
  background-color: #F48722;
  color: white;
  border:solid 1px #F48722;
}
.del-spam-button-secondary, .del-filter-button-secondary {
  background-color: #FFF;
  color: #F48722;
  border:solid 1px #F48722;
}

/* Checkbox container styles */
.checkbox-container {
  padding:20px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: flex-start; 
  background-color:#eee;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  margin-top:5px;
  vertical-align: top; 
}

.checkbox-container label {
  display: inline-block;
  vertical-align: top; 
}

/* SPAM LOG POPUP - End */

/**--SPAM LOG TABLE - START --**/

.spam-log-button-wrapper{
  display:flex;
  gap:15px;
}

.spam-option-wrap span{
  color:#F48722;
  cursor:pointer;
}

.spam-option-wrap span.not-a-spam-button, .spam-option-wrap .spam-delete-button{
  color:red;
}

.spam-option-wrap{
    font-size: 14px;
  visibility: hidden;
  display:flex;
  justify-content: flex-start;
  gap:5px;
}


.maspik-accordion-header:hover .spam-option-wrap{
  visibility: visible;
}


 .maspik-log-table td.column-value.column-entries{
  padding:0;
}

.detail-show:after{
  font-size:14px;
  color:#F48722;
  content:"More Details";
  display:block;
}
.detail-show:hover{
  cursor:pointer;
}

.detail-show:hover:after, .spam-option-wrap span:hover{
  color:#888;
}

.active.detail-show:after{
  content:"Hide Details";
  color:#888;
}

.active.detail-show:hover:after{
  color:#F48722;
}



.maspik-log-table .maspik-accordion-content{
  width:100%;
  padding: 0;
  transition: all 0.3s ease;
}

.column-value .maspik-accordion-header{
 cursor:default; 
 display:flex;
 flex-direction:column;
 gap:3px;
}

 .column-value{
  display:table-cell;
}

.column-value .maspik-accordion-item{
  margin:0;
}

.column-value .maspik-accordion-item, .column-value .maspik-accordion-item .maspik-accordion-header, .column-value .maspik-accordion-item .maspik-accordion-content{
  background:none;
}

.column-value .maspik-accordion-item .maspik-accordion-content pre{
  margin: 0;
  max-width:50vw;
  text-wrap: wrap;
  padding: 10px;

}

.maspik-accordion-item.expanded .log-detail.maspik-accordion-content {
  box-sizing: border-box;
  overflow: auto;
  direction: ltr;
  text-align: left;
}

.maspik-log-table{
  width: 100%;
  font-size:16px;
}


.maspik-log-table .span-alt-text{
  font-size:14px!important;
  margin-top:4px;
  color:#888;
  display: none;
}
.maspik-log-table th, .maspik-log-table td{
  padding:18px 20px;
  vertical-align: top;

}


.maspik-log-table td.column-button, .maspik-log-table th.column-not-spam{
  padding:18px 10px;
  vertical-align: top;
  background-color:rgba(255,255,255,0)!important;
}

.maspik-log-table td.column-button button{
  background-color: #F48722;
  color:#FFF;
  font-family:'Montserrat', 'Open Sans', sans-serif;
  line-height:1.1em;
  border:none;
  border-radius: 50px;
  padding: 8px;
  font-size:14px;
  transition:0.3s;
}


.maspik-log-table td.column-button button:hover{
  background-color: #374945;
}


.maspik-log-table th{
  background-color:#F48722;
  color:#FFF;
  border-radius:3px;
}

.maspik-log-table tr.row-odd td{
  background-color:#F6F6F6;
  border-radius:3px;
}

.maspik-log-table tr.row-even td{
  background-color:#FAFAFA;
  border-radius:3px;
}

.maspik-log-table tr.not-a-spam td{
  background-color:#fdf6d0;
  border-radius:3px;
}

.maspik-log-table .row-entries .column-entries.column-value{
  text-align: left;
}

.maspik-log-table .row-entries .column-entries{
  text-align: center;
}

.log-detail th,.log-detail td {
  padding: 5px;
  border: 0;
}

.log-detail.maspik-accordion-content table {
  background: #dddddd;
  border: 0;
  width: 100%;
}

/**--SPAM LOG TABLE - END --**/
/**--GENERAL STYLE - START --**/
.main-spam-check.togglewrap.maspik-main-check--wrap {
    background: #fff;
    padding: 50px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.maspik-save-message-wrap:empty {
  display: none;
}
 
.maspik-test-form input, .maspik-test-form textarea, .maspik-accordion-content-wrap input, .maspik-accordion-content-wrap textarea{
  background-color:#E9E9E9;
  border:none;
  width:100%;
  border-radius: 10px;
}

.main-spam-check h4 {
    margin: 0;
}

#frmContact input.maspik-btn, .maspik-accordion-content-wrap #submit, .copy.maspik-btn, .log-reset.maspik-btn, .maspik-update-db #submit,#exp-imp-settings .export-import-btn,.maspik-btn-self{
    color:#FFF;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: Uppercase;
    background-color: #F48722;
    cursor: pointer;
    border-radius: 100px;
    height:auto;
    transition: 0.3s;
    border:none;
}
.maspik-btn-self{
  padding: 10px 20px;
}
input.export-import-btn {
    padding: 5px 20px !important;
}

.maspik-btn:hover,.log-reset.maspik-btn:hover, .maspik-accordion-content-wrap #submit:hover,.maspik-btn-self:hover{
    color:#fff;
    transition: 0.3s;
    background-color: #374945!important;
}
h4.maspik-header{
    font-size:20px;
    font-weight: 700;
}

h3.maspik-header{
    font-size:24px;
    font-weight: 700;
    margin: 0;
}

h2.maspik-header{
    font-size:28px;
    font-weight: 700;
}
h1.maspik-main-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #f48623;
}
p.up-line {
  margin: 0;
  font-size: 19px;
  color: #f48623;
  font-weight: 500;
}
/**--Toggle style - START --**/

.togglebox {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: -10px;
    border-inline-start: solid 2px #F48722;
    border-image: linear-gradient(to top, #FFF, #F48722 ) 1;
    padding-inline-start: 15px;
    margin-inline-start: 15px;
}

/* Style to show the div */
.togglebox.showontoggle {
  max-height: 1000px; 
  transition: max-height 0.3s ease-in;
}


.maspik-toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  min-width:35px;
  height: 20px;
}

.maspik-toggle input {
  display: none;
}

.maspik-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.maspik-toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3.2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .maspik-toggle-slider {
  background-color: #F48722;
}

input:checked + .maspik-toggle-slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.maspik-numbox-wrap input[type=number]{
  width:90px;
  margin-bottom:0;
}
.togglebox .maspik-numbox-wrap{
  margin-top:-5px;
}

.maspik-numbox-wrap label{
  font-size:16px;
  text-wrap:nowrap;
  margin-top:5px;
  margin-right:5px;
}

.maspik-subtext{
  font-size:12px;
  padding-left: 13px;
}

.maspik-update-db form, .maspik-update-db-result {
    display: flex;
    width: 100%;
    max-width: 1080px;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    padding: 10px 20px;
    border: solid 1px #c3c4c7;
    border-radius: 3px;
    border-inline-start: solid 4px #9E5942;
    justify-content: start;
}

@media only screen and (max-width: 900px) {
  .maspik-update-db form, .maspik-update-db-result {
    flex-wrap:wrap;
    width: 85%;
  }


  .maspik-update-db .submit{
    padding:3px;
    margin-inline-start: 0px!important;
  }

}

.accordion-disable .maspik-accordion{
  background:rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius:10px;
  transition: 0.3s;
}

.accordion-disable .maspik-accordion .maspik-accordion-item{
  opacity: 0.6;
  pointer-events: none;
}
.maspik-database-update-overlay{
  display: none;
}

.spam-empty-log{
  display:flex;
  justify-content: center;
  background-color:#475351;
  color:#FFF;
  border-radius: 5px;
  width:80%;
  max-width: 400px;;
  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  height:80px;
  z-index:999;
  opacity: 0.6;
  transition: 0.3s;

}


.maspik-blacklist-options.accordion-disable .maspik-accordion .maspik-database-update-overlay{
  display:flex;
  justify-content: center;
  background-color:#475351;
  color:#FFF;
  border-radius: 5px;
  position:absolute;
  width:80%;
  max-width: 400px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  height:80px;
  z-index:999;
  opacity: 0.6;
  transition: 0.3s;
}

.maspik-blacklist-options.accordion-disable .maspik-accordion:hover .maspik-database-update-overlay, .spam-empty-log:hover{
  opacity: 1;
  transition: 0.3s;
}

.accordion-disable .maspik-database-update-overlay h4, .spam-empty-log h4{
  font-size:20px;
}

.maspik-form-update-db .db-update-text h3{
  font-size: 18px;
  margin:5px;
  font-weight: 400;
  line-height:1.2;
}


.maspik-form-update-db .db-update-text span{
font-size:14px;
padding-left:8px;
}

.maspik-update-db-result, .save-notice{
  max-width: 900px;
  width:100%;
  text-align:left;

}

.maspik-update-db .submit{
  padding:3px;
  margin-inline-start: 20px;
}


.maspik-update-db input#submit{
  font-size: 14px;
  letter-spacing: 2px;
}


.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap{
  width:45%;
  padding: 10px;
  margin:5px 0;
  flex-wrap:nowrap;
}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap .wp-reg {
  display:flex;
  flex-wrap:nowrap;
  justify-content: flex-start;
  opacity:1!important;
}

 .forms-pro-block.maspik-pro{
  background-color:#FAFAFA;
  padding:3px;
  border-radius: 10px;
}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap.disabled:has(.wp-reg) {
  opacity:1;
  background-color: #F3F3F3;

}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap.disabled:has(.wp-reg) .maspik-toggle, .maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap.disabled:has(.wp-reg) h4{
  opacity:0.7;
}

.maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap .wp-reg .maspik-tooltip{
  margin-left:10px;
  pointer-events: auto!important;
  z-index: 99;
  opacity: 1!important;
}

@media only screen and (max-width: 1180px) {
  .maspik-accordion-form-option-field .maspik-accordion-content .maspik-form-switch-wrap{
    width:100%!important;
  }
  
}


.maspik-accordion-form-option-field div.maspik-accordion-content-wrap, .maspik-accordion-form-option-field  div.maspik-pro, .maspik-accordion-form-option-field  div.maspik-not-pro{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.maspik-accordion-form-option-field  div.maspik-not-pro, .maspik-form-switch-wrap.disabled{
  opacity: 0.7;
  pointer-events: none;
  background-color:#eee;
  padding: 10px;
  border-radius:10px;
}


div.pro-btn-wrapper.maspik-pro{
  display:none;
}

div.pro-btn-wrapper.maspik-not-pro{
    opacity: 1; 
    display:flex;
    pointer-events: auto;
    padding-bottom:0;
    margin-top:15px;
    margin-bottom:15px;
}

.forms-pro-block.maspik-not-pro {
  opacity: 1 !important;
  margin-top: 30px;
}
.maspik-accordion-form-option-field div.maspik-not-pro {
  background-color: #024921;
  color: #fff;
}
.maspik-accordion-form-option-field div.maspik-not-pro .disabled {
  opacity: 1;
  background-color: transparent;
}

.maspik-accordion-form-option-field .maspik-accordion-content .submit,  .pro-btn-wrapper{
  width:100%;
}



/**--Toggle style - END --**/


/* Custom Scroll */

.maspik-custom-scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.maspik-custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.maspik-custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.maspik-custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scroll - END */

.maspik-simple-divider{
  width:90%;
  display:flex;
  margin:35px 20px;
  height:1px;
  background:#F48722;
  align-self:center;
}

.add-space-top{
  margin-top:20px;
}

/**--GENERAL STYLE - END --**/


.maspik-more-setting{
  padding-top:30px;
  text-transform: capitalize;
}
.maspik-blacklist-options a{
    color: #F48722;
    text-decoration: none;
}

.maspik-blacklist-options a:hover{
    color: #404040;
}

.maspik-save-message-wrap{
  padding-inline-end:20px;
  margin-bottom:20px;
}
.maspik-save-message{
  padding:10px;
  font-size:18px;
  text-align: center;
  width:100%;
  max-width: 100%;
  color:#FFF;
}

.maspik-save-message.success{
  background-color: #F48722;
}

.maspik-save-message.error{
  background-color: #9E5942;
}



.maspik-settings{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.notice-pointer h2{
  position:absolute;
}

/**--- HEAD - START ---**/

.maspik-setting-head-wrap{
  width:100%;
  max-width:1400px;
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}
.maspik-setting-header{
    display:flex;
    flex-direction:column-reverse;
    padding-bottom: 40px;
}
.maspik-setting-header-wrap{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
h1.maspik-title{
    color:#F48722;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    font-weight:900!important;
    font-size:55px;
}
h1.maspik-title {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 2844 854' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a %7B fill: %23f48722; %7D .uuid-d767f4f7-42d9-4519-a611-4e88f65be503 %7B fill: %23fff; %7D%3C/style%3E%3C/defs%3E%3Crect class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' x='29.5' y='24.5' width='802' height='805' rx='136.54' ry='136.54'/%3E%3Cpath class='uuid-d767f4f7-42d9-4519-a611-4e88f65be503' d='m697.8 687.25h-143.34l-10.19-231.45-4.27-92.38c-1.54 17.75-3.29 34.68-5.26 50.79s-4.39 31.72-7.23 46.85l-43.07 226.19h-111.78l-36.82-226.52c-2.19-13.15-5.15-35.72-8.88-67.72-0.44-4.82-1.43-14.68-2.96-29.59l-3.29 93.7-12.16 230.13h-145.97l59.18-507.61h170.63l28.6 170.96c2.41 14.03 4.55 29.26 6.41 45.7s3.56 34.3 5.1 53.59c2.85-32.22 6.79-61.04 11.84-86.46l34.85-183.78h169.31l49.31 507.61z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1321.5 532.77h-100.31l-7.13-161.96-2.99-64.65c-1.08 12.42-2.3 24.27-3.68 35.54s-3.07 22.2-5.06 32.78l-30.14 158.28h-78.22l-25.77-158.51c-1.54-9.2-3.61-25-6.21-47.39-0.31-3.37-1-10.27-2.07-20.71l-2.3 65.57-8.51 161.04h-102.15l41.41-355.22h119.4l20.02 119.63c1.68 9.82 3.18 20.48 4.49 31.98 1.3 11.5 2.49 24.01 3.57 37.5 1.99-22.55 4.75-42.71 8.28-60.51l24.39-128.61h118.48l34.51 355.22z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M1619.89,532.77h-99.16l-7.13-45.09h-64.65l-7.82,45.09h-99.16l85.35-355.22h117.33l75.23,355.22ZM1502.33,411.53l-6.21-41.41c-.16-.15-.46-2.22-.92-6.21-.31-3.37-1.92-16.71-4.83-40.03-.31-2.61-.69-6.17-1.15-10.7-.46-4.52-1.08-10.24-1.84-17.14l-2.99-33.59c-.31,3.22-.73,6.83-1.27,10.81-.54,3.99-1.12,8.36-1.73,13.11-1.08,9.51-1.84,16.1-2.3,19.79-.46,3.68-.77,5.91-.92,6.67l-6.67,43.02-9.66,55.68h40.49Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1640.1 524.03v-111.58c18.87 25.77 39.26 38.65 61.2 38.65 8.28 0 15.03-2.19 20.25-6.56 5.21-4.37 7.82-9.85 7.82-16.45 0-9.51-5.68-18.79-17.02-27.84l-15.64-12.19c-10.43-7.82-19.33-15.6-26.69-23.35-7.36-7.74-13.34-15.72-17.95-23.93-4.6-8.2-7.98-16.68-10.12-25.42-2.15-8.74-3.22-17.95-3.22-27.61 0-16.56 3.83-33.89 11.5-51.99 3.83-8.43 8.28-16.14 13.34-23.12s10.89-13.15 17.48-18.52c18.1-15.33 39.95-23.01 65.57-23.01 22.85 0 45.86 6.06 69.02 18.18v108.59c-7.82-12.11-16.72-21.66-26.69-28.64s-19.79-10.47-29.45-10.47c-7.36 0-13.42 2.15-18.18 6.44-4.91 4.14-7.36 9.13-7.36 14.95 0 9.51 6.52 18.95 19.56 28.3l15.18 11.27c20.25 14.57 34.74 29.53 43.48 44.86 8.89 15.34 13.34 33.28 13.34 53.84 0 34.97-10.66 63.81-31.98 86.5-21.32 22.7-48.31 34.05-80.98 34.05-22.55 0-46.7-4.98-72.47-14.95z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1959 532.77h-95.94v-355.22h92.95c46.32 0 80.67 9.43 103.07 28.3 26.37 22.24 39.57 53.14 39.57 92.72 0 43.1-14.03 75.23-42.1 96.4-19.18 14.26-46.7 21.4-82.59 21.4h-14.96v116.41zm0-196.24 4.37 0.23c11.65 0 20.94-3.57 27.84-10.7s10.35-16.91 10.35-29.33-3.37-22.24-10.12-29.91c-6.75-7.82-15.34-11.73-25.77-11.73h-6.68v81.44z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2228.2 532.77h-95.94v-355.22h95.94v355.22z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2538.5 532.77h-103.53l-63.73-163.8 2.53 163.8h-95.94v-355.22h95.94l-2.53 152.3 56.6-152.3h101.23l-76.61 171.4 86.04 183.82z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2666 485.38c0 14.42-5.29 26.77-15.87 37.04-10.28 10.28-22.86 15.41-37.73 15.41s-27.53-5.21-38.42-15.64c-10.58-10.58-15.87-23.39-15.87-38.42s5.21-27.3 15.64-37.73 23.01-15.64 37.73-15.64 28.07 5.37 38.65 16.1c10.58 10.58 15.87 23.54 15.87 38.88z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m947.58 686.57 38.54-103.59h17.24l38.83 103.59h-17.39l-8.55-24.92h-43.32l-8.55 24.92h-16.81zm30.13-38.39h34.05l-16.95-50.42h-0.29l-16.81 50.42z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1100.4 582.98h14.2v103.59h-14.2v-8.69h-0.29c-4.06 5.22-11.16 10.72-22.75 10.72-18.83 0-33.18-14.63-33.18-38.97s14.34-39.12 33.18-39.12c11.59 0 18.69 5.36 22.75 11.16h0.29v-38.68zm-0.14 66.65c0-16.81-7.82-27.24-20.57-27.24-13.91 0-20.72 12.75-20.72 27.24s6.81 27.24 20.72 27.24c12.75 0 20.57-10.58 20.57-27.24z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1150 686.57-26.37-73.89h15.21l19.41 59.26h0.15l19.12-59.26h14.78l-26.37 73.89h-15.94z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M1194.75,667.45c0-16.52,12.46-21.44,30.86-24.92,11.59-2.17,18.69-3.62,18.69-10.87,0-5.36-3.19-9.85-14.05-9.85-12.89,0-16.81,4.06-17.53,13.91h-14.49c.72-14.2,10-25.35,32.6-25.35,15.21,0,27.38,6.38,27.38,25.5v33.9c0,5.36.72,8.11,3.48,8.11.44,0,.87,0,1.74-.14v8.69c-2.46.58-4.93.87-7.24.87-7.1,0-10.87-2.75-11.74-11.16h-.29c-4.78,7.68-13.18,12.46-25.21,12.46-14.78,0-24.2-8.55-24.2-21.15ZM1244.3,657.74v-10.58c-2.32,2.17-8.69,3.77-16.23,5.36-13.04,2.61-18.54,6.23-18.54,13.91,0,6.95,3.77,10.72,12.6,10.72,12.75,0,22.17-6.52,22.17-19.42Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1338.9 635.28v51.29h-14.2v-47.38c0-9.85-4.35-16.52-15.07-16.52-12.17 0-19.99 7.39-19.99 18.54v45.35h-14.2v-73.89h14.2v9.27h0.29c3.91-5.65 11.59-11.45 24.34-11.45 13.62 0 24.63 7.82 24.63 24.78z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1350.4 649.63c0-23.18 14.34-39.12 36.22-39.12 18.98 0 31.58 12.32 33.32 28.98h-14.63c-0.72-7.68-5.07-17.24-18.54-17.24-15.79 0-21.59 13.47-21.59 27.38s5.79 27.24 21.59 27.24c13.62 0 17.82-9.27 18.54-17.68h14.63c-1.01 16.95-14.2 29.56-33.18 29.56-22.02 0-36.37-15.94-36.37-39.12z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1498.8 653.39h-56.79c0.29 12.31 7.53 23.76 22.17 23.76 13.04 0 18.11-8.4 19.41-13.33h14.49c-3.91 14.2-14.78 24.92-34.19 24.92-23.47 0-36.51-16.66-36.51-39.26s13.91-39.12 36.51-39.12 35.06 14.78 35.06 37.67c0 2.03 0 4.2-0.14 5.36zm-14.63-11.15c0-11.59-8.11-20.28-20.72-20.28-11.88 0-20.57 8.11-21.44 20.28h42.16z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1563.5 582.98h14.2v103.59h-14.2v-8.69h-0.29c-4.06 5.22-11.16 10.72-22.75 10.72-18.83 0-33.18-14.63-33.18-38.97s14.34-39.12 33.18-39.12c11.59 0 18.69 5.36 22.75 11.16h0.29v-38.68zm-0.14 66.65c0-16.81-7.82-27.24-20.57-27.24-13.91 0-20.72 12.75-20.72 27.24s6.81 27.24 20.72 27.24c12.75 0 20.57-10.58 20.57-27.24z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1619.4 651.65h16.52c1.16 13.91 9.42 23.33 28.83 23.33 16.66 0 21.73-7.24 21.73-16.66 0-13.18-10.14-15.07-28.98-19.85-16.23-4.35-34.05-9.56-34.05-29.27 0-17.96 13.91-28.25 36.22-28.25 23.62 0 38.97 12.03 40.57 32.89h-16.52c-1.74-12.46-8.84-19.27-23.91-19.27-13.04 0-19.7 4.78-19.7 13.76 0 11.59 10.87 14.05 24.2 17.39 19.99 5.07 38.83 9.85 38.83 31.73 0 17.82-12.02 31.15-37.96 31.15s-44.62-13.62-45.78-36.95z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m1785.6 649.63c0 24.34-14.34 38.97-33.18 38.97-11.59 0-18.69-5.22-22.75-11.16h-0.29v34.77h-14.2v-99.53h14.2v8.69h0.29c4.06-5.22 11.16-10.87 22.75-10.87 18.83 0 33.18 14.78 33.18 39.12zm-14.92 0c0-14.49-6.66-27.24-20.57-27.24-12.75 0-20.57 10.43-20.57 27.24s7.82 27.24 20.57 27.24c13.91 0 20.57-12.75 20.57-27.24z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M1793.98,667.45c0-16.52,12.46-21.44,30.86-24.92,11.59-2.17,18.69-3.62,18.69-10.87,0-5.36-3.19-9.85-14.05-9.85-12.89,0-16.81,4.06-17.53,13.91h-14.49c.72-14.2,10-25.35,32.6-25.35,15.21,0,27.38,6.38,27.38,25.5v33.9c0,5.36.72,8.11,3.48,8.11.44,0,.87,0,1.74-.14v8.69c-2.46.58-4.93.87-7.24.87-7.1,0-10.87-2.75-11.74-11.16h-.29c-4.78,7.68-13.18,12.46-25.21,12.46-14.78,0-24.2-8.55-24.2-21.15ZM1843.53,657.74v-10.58c-2.32,2.17-8.69,3.77-16.23,5.36-13.04,2.61-18.54,6.23-18.54,13.91,0,6.95,3.77,10.72,12.6,10.72,12.75,0,22.17-6.52,22.17-19.42Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M1977.54,635.28v51.29h-14.2v-47.38c0-9.85-2.03-16.52-12.89-16.52s-17.24,7.39-17.24,18.54v45.35h-14.2v-47.38c0-9.85-2.03-16.52-12.89-16.52s-17.24,7.39-17.24,18.54v45.35h-14.2v-73.89h14.2v9.27h.29c3.91-5.65,10.72-11.45,21.88-11.45,10.29,0,16.66,4.64,19.56,12.89h.29c5.36-7.1,12.89-12.89,24.2-12.89,14.92,0,22.46,8.98,22.46,24.78Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2025.6 686.57v-103.59h43.17c19.56 0 33.9 9.13 33.9 30.86s-14.34 30.71-33.9 30.71h-27.24v42.02h-15.94zm42.45-55.78c12.03 0 18.11-5.36 18.11-16.95s-6.08-17.1-18.11-17.1h-26.51v34.05h26.51z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M2153.86,611.38v13.62c-1.74-.29-3.04-.43-4.78-.43-12.89,0-22.17,9.71-22.17,23.76v38.25h-14.2v-73.89h14.2v14.05h.29c3.91-9.27,9.85-15.79,19.85-15.79,2.61,0,4.64.15,6.81.43Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2156.2 649.63c0-23.04 13.91-39.26 37.09-39.26s36.8 16.08 36.8 39.12-13.91 39.26-36.94 39.26-36.95-15.94-36.95-39.12zm59.11 0c0-15.5-6.96-27.38-22.02-27.38s-22.31 11.88-22.31 27.38 6.95 27.38 22.31 27.38 22.02-12.03 22.02-27.38z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M2273.97,675.13v11.45c-3.62.72-5.94.87-8.98.87-12.17,0-19.56-4.64-19.56-21.73v-41.29h-10.72v-11.74h10.72v-23.76h14.2v23.76h14.2v11.74h-14.2v41.73c0,7.82,2.17,9.56,8.26,9.56,2.46,0,3.62-.14,6.08-.58Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2351.8 653.39h-56.79c0.29 12.31 7.53 23.76 22.17 23.76 13.04 0 18.11-8.4 19.41-13.33h14.49c-3.91 14.2-14.78 24.92-34.19 24.92-23.47 0-36.51-16.66-36.51-39.26s13.91-39.12 36.51-39.12 35.06 14.78 35.06 37.67c0 2.03 0 4.2-0.14 5.36zm-14.63-11.15c0-11.59-8.11-20.28-20.72-20.28-11.88 0-20.57 8.11-21.44 20.28h42.16z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2360 649.63c0-23.18 14.34-39.12 36.22-39.12 18.98 0 31.58 12.32 33.32 28.98h-14.63c-0.72-7.68-5.07-17.24-18.54-17.24-15.79 0-21.59 13.47-21.59 27.38s5.79 27.24 21.59 27.24c13.62 0 17.82-9.27 18.54-17.68h14.63c-1.01 16.95-14.2 29.56-33.18 29.56-22.02 0-36.37-15.94-36.37-39.12z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='M2473.62,675.13v11.45c-3.62.72-5.94.87-8.98.87-12.17,0-19.56-4.64-19.56-21.73v-41.29h-10.72v-11.74h10.72v-23.76h14.2v23.76h14.2v11.74h-14.2v41.73c0,7.82,2.17,9.56,8.26,9.56,2.46,0,3.62-.14,6.08-.58Z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2484.5 599.5v-15.36h16.08v15.36h-16.08zm0.87 87.07v-73.89h14.2v73.89h-14.2z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2511.6 649.63c0-23.04 13.91-39.26 37.09-39.26s36.8 16.08 36.8 39.12-13.91 39.26-36.94 39.26-36.95-15.94-36.95-39.12zm59.12 0c0-15.5-6.96-27.38-22.02-27.38s-22.31 11.88-22.31 27.38 6.95 27.38 22.31 27.38 22.02-12.03 22.02-27.38z'/%3E%3Cpath class='uuid-741b9862-f28b-4bc9-8d9e-72a243b3816a' d='m2661 635.28v51.29h-14.2v-47.38c0-9.85-4.35-16.52-15.07-16.52-12.17 0-19.99 7.39-19.99 18.54v45.35h-14.2v-73.89h14.2v9.27h0.29c3.91-5.65 11.59-11.45 24.34-11.45 13.62 0 24.63 7.82 24.63 24.78z'/%3E%3C/svg%3E%0A");
      color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      height: 64px;
      margin-bottom: 10px;
      margin-top: 6px;
      padding: 9px 0 4px;
  }

h3.maspik-protag{
    background-color:#F48722;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    text-transform: Uppercase;
    height: 18px;
    line-height: 18px;
    border-radius: 50px;
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    padding: 5px 12px;
    display: flex;
    letter-spacing: 1px;
    margin-top: 24px;}

h3.maspik-protag.maspik-not-pro{
  display: none;
}

.maspik-tooltip .dashicons-info:before{
  font-size:24px;
  color: #FFBBA6;
}

.maspik-tooltip .dashicons-info{
  margin-top:-3px;
}


.maspik-tooltip {
  position: relative;
  display: inline-block;
}

.maspik-tooltip .maspik-tooltiptxt {
  visibility: hidden;
  width: 330px;
  background-color: #404040;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  padding:8px;
}

.maspik-tooltip .maspik-tooltiptxt::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #404040 transparent transparent;
}
.maspik-tooltip:hover>.maspik-tooltiptxt {
  visibility: visible;

}

.maspik-tooltip:hover{
  cursor:pointer;
}
.rtl .maspik-setting-header-wrap {
  flex-direction: row-reverse;
}

.rtl .maspik-setting-header {
  align-self: end;
  padding-bottom: 0;
}

/** Affected forms **/

.maspik-aform{
    margin-top:20px;
    margin-bottom:28px;
    font-size:16px;
    display:flex;
    align-items: flex-start;
    gap:15px;
}
.mpk-form-list-lbl{
  margin-top:5px;
}

.maspik-aform ul.supportforms {
    display:flex;
    margin:0;
    gap:inherit;
    flex-wrap: wrap;
}


.maspik-aform ul.supportforms li, .maspik-api-status{
    margin:0;
    background-color:#F48722;
    color: #fff;
    padding: 5px 10px;
    border-radius:50px;
    font-size:12px;
    font-weight: 300;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    cursor: pointer;
}

.maspik-aform ul.supportforms li.disabled{
  margin:0;
  background-color:#374945!important;
  color:#FFF;
  padding: 5px 10px;
  border-radius:50px;
  font-size:12px;
  font-weight: 300;
  font-family:'Montserrat', 'Open Sans', sans-serif;
}

.not-connected{
  background:#374945!important;
}

/**--- HEAD - END ---**/
/**--- BODY - START ---**/

.maspik-setting-body{
    display: flex;
    gap:30px;
    max-width:1400px;
    width:95%;
    align-self: center;
    flex-wrap: nowrap;
}

/**--- BLACKLIST OPTIONS - START ---**/

.maspik-blacklist-options{
    width:55%;
    position: relative;
}

.maspik-blacklist-head{
    margin-top:10px;
    margin-bottom:30px;
}
.maspik-blacklist-head>h2{
    margin:0;
}

.maspik-blacklist-head p , .maspik-spam-head p{
    font-size: 16px;
    margin-left:20px;
}
.maspik-section-head p {
  font-size: 16px;
}
.maspik-subtext h5 {
  font-size: 14px;
}
ul.methods-list.maspik-list ,.maspik-section-head.maspik-more-setting ul{
  list-style-type: disc;
  padding-inline-start: 15px;
}



/** Accordion **/

  .maspik-main-check--wrap.maspik-accordion-content-wrap .submit {
    margin-left: auto;
    margin-top: 0;
  }
  h2.maspik-title {
    margin-top: 0;
    font-size: 25px;
  }
  .maspik-accordion {
      margin: 0 auto;
  }

  .maspik-accordion-item{
    margin-bottom:20px;
    border-radius: 10px;
  }


  /* top of textarea - I and ex - wrap*/
  .maspik-accordion .maspik-setting-info{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }

  .maspik-accordion-item .maspik-accordion-header .maspik-tooltip{
    opacity:0;
    pointer-events: none;
    transition: 0.3s;
  }
  .maspik-accordion-item.has-high-tooltip .mpk-acc-header-texts{
    flex-direction:row;
  }

  .maspik-accordion-item .maspik-accordion-header.active .maspik-tooltip{
    opacity:1;
    transition: 0.3s;
    pointer-events: auto;
  }



  /* pop up button - start */
  .maspik-small-btn-wrap, .maspik-status-wrap{
    display: flex;
    gap:10px;
    align-items: center;

  }

  .maspik-small-btn{
    margin:10px 0;
  }


  .maspik-small-btn>a{
    color:#fff;
    background-color: #014921;
    border-radius: 10px;
    display:inline;
    align-self: flex-end;
    width:auto;
    text-decoration: none;
    padding:5px 12px 5px 10px;
    font-size:12px;
    align-content:center;
  }

  .maspik-small-btn>a .dashicons {
    width:auto;
    height:18px;
    padding-inline-end:3px;
  }

    .maspik-small-btn>a:hover{
    color:#fff;
    background-color: #475351;
    }
  
  .maspik-small-btn .dashicons{
    font-size:14px;
    vertical-align: middle;
  }

  /* example button - end */

  .maspik-accordion-item:last-child {
    border-bottom: none;
  }
  .maspik-accordion-header {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    padding:18px 30px;
  }
  .maspik-accordion-header.active {
    border-radius:10px 10px 0 0;
  }


  h4.maspik-accordion-header-text{
    margin:0;
    text-transform: capitalize;
  }

  .maspik-accordion-subheader{
    font-size:16px;
  }

  .mpk-acc-header-texts{
    display:flex;
    gap:inherit;
  }

  .active .mpk-acc-header-texts{
    flex-direction: column;
  }

  .maspik-accordion-header .dashicons-arrow-right{
    color:#F48722;
    font-size:28px;
    transition: 0.3s;
    margin: -4px;
  }

  .active .dashicons-arrow-right{
    rotate:90deg;
    transform-origin: 50% 50%;
    transition: 0.3s;
  }

  .maspik-accordion-content {  
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #FFF!important;
    border-radius: 0 0 10px 10px;
  }


  .maspik-accordion-content .maspik-accordion-content-wrap {
    padding:  0 40px 30px 40px;
    display:flex;
    flex-direction:column;
    transition: max-height 0.3s ease-in;
  }

  .maspik-accordion-content-wrap textarea.maspik-textarea{
    max-width:100%;
  }

  .maspik-accordion-content-wrap textarea.maspik-textarea:focus, .maspik-numbox-wrap input:focus, .maspik-accordion-item .maspik-country-dropdown:focus, .maspik-accordion-item .maspik-country-dropdown:hover{
   box-shadow:none;
   color: #000;
  }
  
  .maspik-accordion-content .form-table>tbody tr:first-child th:first-child{
    display:none;/*Hides first section title*/
  }

  .maspik-accordion-content .hide-form-title .form-table>tbody tr{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
  }

  .maspik-form-tip{
    margin-left:13px;
  }

  .maspik-accordion-content-wrap tr{
    max-width:800px;
  }

  .maspik-accordion-content-wrap td{
    width:100%;
  }


  .maspik-accordion-content-wrap .maspik-textarea,.maspik-accordion-content-wrap input, .maspik-accordion-content-wrap input.maspik-inputbox{
    max-width:800px; 
  }

  .maspik-accordion-content-wrap .is-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }


  .maspik-accordion-content-wrap #submit, .maspik-update-db #submit, #clear_log{
    min-width: 140px;
    width:auto;
    letter-spacing: 3px;
    padding: 12px 25px;
    font-size:14px;
    line-height:1.2em;
    border:none;
  }

  .maspik-accordion-content-wrap .submit{
    display:flex;
    justify-content: flex-end;
    padding:0;
    margin:0;
    margin-top:20px;
  }


/* Accordion animation */


.maspik-accordion-item > .active + .maspik-accordion-content {
    max-height: 2200px!important;
    transition: max-height 0.3s ease-in;
  }

  .maspik-accordion-item .maspik-main-list-wrap, .maspik-accordion-subtitle-wrap{
    display:flex;
    flex-wrap:nowrap;
    gap:10px;
    
  }

  .maspik-accordion-item .maspik-select-list{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:10px;
  }
  .maspik-accordion-item .maspik-select-list .maspik-form-api-list, .maspik-accordion-item .maspik-select-list .maspik-main-list-wrap, .maspik-accordion-item {
    width:100%;
  }
.maspik-accordion-item.maspik-accordion-general-field .maspik-numbox-wrap .limit-api-wrap {
    min-width: 70px !important;
}
.maspik-api-text-wrap {
    max-width: 100%;
    overflow: hidden;
}
  .maspik-accordion-subtitle-wrap h3{
    margin:0;
  }

  .maspik-accordion-subtitle-wrap{
    margin-bottom:15px;
    align-items: center;
  }

  .maspik-accordion .text-caution{
    color:#9E5942;
    font-weight: 800;
  }

  .maspik-accordion-item .dashicons-star-filled{
    color:#F48722;
    margin-inline-end: 8px;
    margin-inline-start: -8px;
  }
  .maspik-mainpage span.dashicons.dashicons-star-empty, .maspik-get-pro-a span.dashicons.dashicons-star-empty {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z' style=' fill: %23ffffff;%0A'%3E%3C/path%3E%3C/svg%3E");    background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: transparent;
    }
    .maspik-mainpage span.dashicons.dashicons-star-filled {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z' style=' fill: %23f48623;%0A'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: transparent;
    }
    
  .maspik-not-pro.maspik-accordion-item{
    border:solid 1px #F48722;
  }

  .maspik-not-pro.maspik-accordion-item .maspik-accordion-header{
    background: #F6F6F6;
  }

  .maspik-not-pro.maspik-accordion-item .maspik-accordion-content-wrap{
    background: #F6F6F6;
  }
  .maspik-not-pro.maspik-accordion-item .maspik-accordion-content{
    opacity: 0.7;
  }
  .maspik-not-pro.maspik-accordion-item .maspik-accordion-content > *{
    pointer-events: none;
  }

  .maspik-pro .maspik-small-btn.get-pro{
    display:none;
  }

  .maspik-small-btn.get-pro{
    margin:0;
    margin-inline-end: 20px;
  }
  .maspik-small-btn.get-pro a{
    background:#F48722;
    font-size:14px;
  }

  .upsell-btn{
    display:flex;
    flex-direction: row;
  }

  .upsell-btn .maspik-small-btn.get-pro a{
    background: #014921;
  }
  .upsell-btn .maspik-small-btn.get-pro a:hover{
    background: #F48722;
  }

  .maspik-small-btn.get-pro a:hover{
    background:#374945;
  }


  .maspik-pro-button-wrap{
    display:flex;
  }



  .maspik-main-list-wrap .maspik-form-api-list{
    width: 70%;
    display:flex;
    flex-direction: column;
  }

  .maspik-accordion-item .maspik-form-api-list h5.maspik-api-title{
    margin:0;
    font-size:12px;
  }

  .maspik-main-list-wrap.maspik-select-list .maspik-form-api-list .maspik-api-text{
    height:auto;
    padding:0 10px;
    gap: 5px;
    flex-wrap:wrap;
  }

 .maspik-api-text .api-entry{
    border: solid 1px #ddd;
    border-radius: 3px;
    background: #FFF;
    padding: 2px 6px;
  }

    .maspik-accordion-phone-field .help-text {
        margin-inline-end: auto;
        margin-inline-start: 20px;
    }

  .maspik-main-list-wrap.maspik-select-list .maspik-form-api-list{
    width:100%;
  }

  .maspik-main-list-wrap .maspik-form-api-list .maspik-api-text{
    font-size:12px;
    color:#475351;
    height:105px;
    overflow: auto;
    display:flex;
  }

   .maspik-form-api-list .maspik-api-text-wrap{
    background-color:#F6F6F6;
    padding: 10px;
    border-radius:10px;

  }

  .maspik-accordion-item  .maspik-country-dropdown{
    border:none;
    width: 115px;
    background-color: #E9E9E9;
    border-radius:10px;
  }

  .maspik-accordion-item  .maspik-country-dropdown option{
    padding:20px;
  }


/* Select 2 restyle */
  .maspik-main-list-wrap > .select2-container .select2-selection {
    background-color:#E9E9E9;
    border:none;
    width:100%;
    border-radius: 10px;
    padding: 8px 10px;
  }

  .maspik-main-list-wrap  .select2-container--focus .select2-selection--multiple{
    border:none!important;
  }

  .maspik-main-list-wrap .select2-search__field{
    margin-bottom:6px;
  }


  .maspik-main-list-wrap > .select2-container{
    width:100%!important;
  }

 .select2-container--default .select2-results__option--selected{
    background: #F48722!important;
    color:#FFF!important;
    transition:0.3s;
  }

  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background: #475351!important;
    transition:0.3s;
  }


  .maspik-main-list-wrap > .select2-container .select2-selection li{
    background:#FFF;

  }
.maspik-main-list-wrap .select2-container--disabled li.select2-selection__choice {
    background: #bababa !important;
}
td.column-value.column-entries {
    max-width: 500px;
}

.togglewrap span.new {
    background: #f48623;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
  /* Custom Scroll for Select 2*/
.select2-results{
  padding: 10px;
  padding-left: 0;
}

.select2-results li{
  margin: 3px 10px;
  border-radius: 20px;
  padding-left:15px;
}
.select2-results__options::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.select2-results__options::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.select2-results__options::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Select 2 restyle - END */

  

  /* Pop up */
.maspik-popup-wrap>h3{
  margin-top:0;
}
.maspik-popup-wrap {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #fff; 
  padding: 30px 20px; 
  border: 1px solid #ddd; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  display: none; 
  width:400px;
}

.maspik-popup-wrap.active { 
    display: block; 
    z-index: 999; 
    border: 3px solid #F48722;
}

.maspik-popup-wrap .close-popup {
    float: right; 
    cursor: pointer; 
    color: #374945;
    background-color: transparent; 
    border: none; 
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px; 

  }

  .maspik-popup-wrap .close-popup>.dashicons{
    font-size: 24px; 
  }

.maspik-popup-wrap .close-popup:hover {
  color: #F48722; 
}

.maspik-popup-wrap .data-array-here{
  overflow-y: auto;
  line-height: 1.2em;
}


#pop-up-example .data-array-here{
  height: 120px;
}

#pop-up-shortcode .data-array-here{
  height: 180px;
}


.maspik-popup-wrap .data-array-wrap{
  background-color:#F6F6F6;
  border-radius:10px;
  padding: 10px 10px;
}

table.maspik-stats-table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}
table.maspik-stats-table th{color: white;background-color: #F48722;}
table.maspik-stats-table td{
background-color: white;
}
table.maspik-stats-table td, table.maspik-stats-table th {
  border: 1px solid black;
    text-align:start;
    padding:3px;
}
.maspik-db-check--wrap .maspik-small-btn.btns {
  display: inline-block;
  margin: 0;
}
.maspik-db-check--wrap h4 {
  display: inline-block;
}
.maspik-btn.copy{
  margin-top: 15px;
  min-height:30px;
  padding: 8px 25px;
  font-size:14px;
  letter-spacing: 3px;
}

.maspik-copy-btn-wrap{
  display: flex;
  justify-content:flex-end;
}

body.rtl .maspik-tooltip .maspik-tooltiptxt::after {
  left: 110%;
  right: -9px;
  border-color: transparent  transparent  transparent #404040;
}

body.rtl span.maspik-tooltiptxt {
  left: 0;
  right: 120%;
  text-align:start
}

.togglewrap{
  display:flex;
  gap:10px;
  margin: 20px 0;
  align-items:center;
}

.togglewrap span{
  font-size:12px;
}

.togglewrap>h4, .maspik-accordion-content h4{
  margin:0;
  font-size:16px;
  font-weight:400;
  margin-bottom: 5px;
}

.togglewrap .maspik-tooltiptxt, .short-tooltip .maspik-tooltiptxt{
  width:150px;
}

.maspik-accordion-maspik-api-field .active + .maspik-accordion-content .maspik-accordion-content-wrap{
  padding-top:40px;
}

.maspik-popular-spam-wrap{
  gap:0;
  display:flex;
}

.togglewrap{
  align-items: flex-start;
  justify-content: flex-start;
}

.maspik-api-buttons-warp{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  gap:10px;
  margin-top:20px;
  margin-bottom:10px;
  flex-wrap: wrap;
}


.maspik-accordion-content-wrap #submit.maspik-btn-outline, .spam-log-button-wrapper #expand-all,.downloadform .maspik-btn{
  color:#F48722;
  font-family:'Montserrat', 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: Uppercase;
  background-color: #FFF!important;
  border-radius: 100px!important;
  height:auto!important;
  transition: 0.3s;
  border:solid 1px #F48722;
  padding: 11px 25px;
  letter-spacing: 1px;
  line-height: 1em;
}

.maspik-api-buttons-warp #submit, .maspik-api-buttons-warp .submit, .maspik-api-buttons-warp .maspik-btn-outline{
  margin:0;
}

#submit.maspik-btn-outline:hover, .spam-log-button-wrapper #expand-all:hover,.downloadform .maspik-btn:hover{
  color: #fff!important;
  background-color: #374945!important;
  transition: 0.3s;
  border-color: #374945;
}

.maspik-threshold-wrap .maspik-numbox-wrap{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.maspik-minmax-wrap{
  display:flex; 
  justify-content: flex-start;
  gap:20px;
}

.maspik-accordion-content .maspik-minmax-wrap .character-limit{
  width: 70px;
}

.maspik-numbox-wrap{
  display:flex;
  align-items:center;
}

.maspik-numbox-wrap .limit-api-wrap{
  padding-top:8px;
  padding-left: 10px;
}


.maspik-accordion-content .maspik-limit-char-box span.maspik-subtext{
  padding-left:0;
}
 
.maspik-accordion-content .maspik-limit-char-box .maspik-subtext strong{
  color:#F48722!important;
  text-transform: uppercase;
} 




/**--- BLACKLIST OPTIONS - END ---**/


/**--- TEST FORM - START ---**/

.maspik-test-form-buttons button {
  transition: 0.3s;
  padding: 10px 25px;
  letter-spacing: 1px;
  line-height: 1em;
  color: #fff;
  background-color: #014921;
  cursor: pointer;
  border: none;
  border-radius: 10px 10px 0 0;
  font-size: 15px;
}
.maspik-test-form-buttons {
  margin-top: -85px;
  padding-bottom: 30px;
  margin-left: -40px;
}
.rtl .maspik-test-form-buttons {
  margin-left: 0;
  margin-right: -40px;
}
.maspik-test-form{
    width:40%;
    min-width: 350px!important;
    gap:22px;
    margin-top: 35px;

}
.maspik-test-form-buttons button:hover, .maspik-test-form-buttons .active {
  background: #f48623;
}

.maspik-test-form-sub, .maspik-test-form>form{
    font-size:14px;
}

.maspik-test-form>form{
    padding: 50px 40px!important; 
    background-color:#014921;
    position:sticky;
    border-radius:0 10px 10px 10px ;
    top:80px;
    color:white;
}
.rtl .maspik-test-form>form{
  border-radius:10px 0px 10px 10px;
}

h3.maspik-test-form-head.maspik-header {
    color: #fff;
}

.maspik-test-form .input-row{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  padding-bottom:5px;
  align-items:flex-end;
}

.maspik-test-form .input-row label{
  align-self:flex-start;
}

.maspik-test-form .red.input-row input{
  border:solid 1px #9E5942;
}

.maspik-test-form-head{
    margin-bottom:20px;
    margin-top:0;
}



.maspik-test-form input, .maspik-test-form textarea{
    max-width: 550px;
}

.maspik-test-form input, .maspik-accordion-content-wrap input{
    padding:4px 10px;
}

.maspik-accordion-content-wrap textarea{
    padding:10px;
}
.maspik-test-form textarea {
  padding: 10px;
  margin-top: 5px;
}

.maspik-test-form input, .maspik-accordion-content-wrap input{
    height:35px;
    margin-top:5px;
}


.maspik-test-form .btn-submit{
    max-width: 180px;
    letter-spacing: 3px;
    padding: 12px 25px;
    margin-top:20px; 
}

.maspik-test-form .note{
    color: #ffbba6;
    font-size: 14px;
    margin-top: 1px!important;
    max-width: 95%;
    place-self: self-start;
}
.input-row.red .input-field {
    border: 1px solid red;
}

.maspik-test-form #statusMessage p{
  width:auto;
  max-width:130%;
  display:block;
  text-align: center;
  padding: 15px 15px;
  color:#FFF;
  margin:10px -40px -50px -40px;
  border-radius: 0 0 10px 10px;

}
.maspik-test-form .successMessage{
  background-color:#429E55;
}

.maspik-test-form .loadingMessage{
  background-color:#374945;
}

.maspik-test-form .ErrorMessage{
    background-color:#9E5942;
}

/**--- TEST FORM - END ---**/

.maspik-footer a {
    text-decoration: underline;
}
footer.maspik-footer {
  background: #f48623;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
}

footer.maspik-footer * {
  color: #fff;
}
footer.maspik-footer h3 {
  font-size: 23px;
  text-transform: uppercase;
}
footer.maspik-footer h4 {
  font-size: 18px;
}

/* select 2 fix */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  min-height: 40px;
}
span.select2-selection.select2-selection--single {
  min-height: 40px;
}
span.select2-selection.select2-selection--multiple {
  min-height: 40px;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .maspik-setting-body {
    flex-wrap:wrap;
    justify-content: center;
  }

  .maspik-blacklist-options{
    width:100%;
  }

  .maspik-test-form{
    width:100%;
    max-width:550px;
  }


}
